# Distribution/packaging
*.egg-info/
.DS_Store
.eggs/
build/
.build/
dist/

# Python
__pycache__
venv
*-checkpoint.ipynb
requirements.txt
python/circuitsvis/.vscode

# Node
node_modules/
package-lock.json
yarn-error.log
.parcel-cache/
storybook-static/
build-storybook.log
